<!DOCTYPE html>
<html>

<body>
    <h1>Storage</h1>
    <table border="1">
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Actions</td>
        </tr>
        {% for row in storage_data %}
        <tr>
            <td>{{ row.product_id }}</td>
            <td>{{ row.product_name }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }} php</td>
            <td>{{ row.stock }}</td>
            <td>
                <button onclick="openUpdateModal('{{ row.product_id }}', '{{ row.product_name }}', '{{ row.description}}','{{ row.price }}', '{{ row.stock }}')">Update</button>
                <button onclick="deleteProduct('{{ row.product_id }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Modal for Update -->
    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeUpdateModal()">&times;</span>
            <h2>Update Product</h2>
            <form id="updateForm">
                <input type="hidden" id="productId" name="productId">

                <label for="newName">New Name:</label>
                <input type="text" id="newName" name="newName" required>

                <label for="newDescription">New Description:</label>
                <input type="text" id="newDescription" name="newDescription" required>

                <label for="newPrice">New Price:</label>
                <input type="text" id="newPrice" name="newPrice" required>

                <label for="newQuantity">New Quantity:</label>
                <input type="text" id="newQuantity" name="newQuantity" required>

                <input type="button" value="Update" onclick="updateProduct()">
            </form>
        </div>
    </div>

    <script>
        function openUpdateModal(product_id, product_name, description, price, stock) {
            document.getElementById("productId").value = product_id;
            document.getElementById("newName").value = product_name;
            document.getElementById("newDescription").value = description;
            document.getElementById("newPrice").value = price;
            document.getElementById("newQuantity").value = stock;
            document.getElementById("updateModal").style.display = "block";
        }

        function closeUpdateModal() {
            document.getElementById("updateModal").style.display = "none";
        }

        function updateProduct() {
            var product_id = document.getElementById("productId").value;
            var new_name = document.getElementById("newName").value;
            var new_description = document.getElementById("newDescription").value;
            var new_price = document.getElementById("newPrice").value;
            var new_quantity = document.getElementById("newQuantity").value;

            fetch('/update_product', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        product_id: product_id,
                        new_name: new_name,
                        new_description: new_description,
                        new_price: new_price,
                        new_quantity: new_quantity
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    closeUpdateModal();

                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function deleteProduct(product_id) {
            var confirmDelete = confirm("Are you sure you want to delete this product?");
            if (confirmDelete) {
                fetch(`/delete_product/${product_id}`, {
                        method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        // You may refresh the page or update the UI as needed
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        }
    </script>
    <a href="{{ url_for('admin') }}"><button type="button">Return</button></a>
</body>

</html>
